.gallery-cards {
  padding: 60px 0;
}

.search-form {
  display: flex;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}

input {
  height: 40px;
  border-radius: 4px;
  flex-grow: 1;
  font-size: 18px;
  padding-left: 15px;
  border: 1px solid #303030;
}

button,
.load-more {
  font-size: 14px;
  padding: 10px 20px;
  background-color: #4e75ff;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 250ms linear;
}

.load-more {
  display: block;
  margin: 0 auto;
}

.load-more.is-hidden {
  display: none;
}

button:hover,
button:focus,
.load-more:hover,
.load-more:focus {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 30px;
  margin-bottom: 60px;
}

.photo-card {
  flex-basis: calc((100% - 90px) / 4);
}

img {
  width: 100%;
  height: 100%;
  max-width: unset;
  object-fit: cover;
}
.info {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.info b {
  font-size: 11px;
  display: block;
}

.info-item {
  width: calc((100% - 5px) / 4);
  text-align: center;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wraper-loader {
  width: 100%;
  display: flex;
  align-items: center;
}
.loader {
  text-align: center;
  margin: 0 auto;
  width: 48px;
  height: 48px;
  border: 5px solid #e62b2b;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
